<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body style=" background-position: center;
background-repeat: no-repeat;
background-size: cover;background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2554.jpg?w=360);">
    
    <div class="row">
        <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/expense" class="list-group-item list-group-item-action" >
                <img src="https://cdn-icons-png.flaticon.com/512/5501/5501371.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Expense</small>
                </a>
               
              </div>   


        </div>


        <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/health" class="list-group-item list-group-item-action" >
                <img src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Health</small>
                </a>
               
              </div>   


        </div>


        <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/programming" class="list-group-item list-group-item-action" >
                <img src="https://i.pinimg.com/originals/89/c8/58/89c858205689c2756a3c434575f74c8b.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Programming</small>
                </a>
               
              </div>   


        </div>


        <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/project" class="list-group-item list-group-item-action" >
                <img src="https://cdn-icons-png.flaticon.com/512/5956/5956592.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Project</small>
                </a>
               
              </div>   


        </div>



          <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/language" class="list-group-item list-group-item-action" >
                <img src="https://www.vhv.rs/dpng/d/592-5929655_transparent-language-icon-png-foreign-language-icon-png.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Language</small>
                </a>
               
              </div>   


        </div>


        <div class="col-3">

            <div class="list-group" style="padding: 10%;">
       
                <a href="/dairy" class="list-group-item list-group-item-action" >
                <img src="https://i.pinimg.com/originals/3b/14/90/3b14900bd30944e3630fce832ffd1ac7.png" style="width: 40px;height:40px"/>
                  <p class="mb-1"></p>
                  <small class="text-muted">Dairy</small>
                </a>
               
              </div>   


        </div>


        
    </div>


  

























</body>
</html>